button {
    width:200px;
    height: 150px;
    background-color: rgb(219, 37, 37);
    border-radius: 30px;
    -webkit-box-shadow: 14px 18px 11px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 14px 18px 11px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 14px 18px 11px 5px rgba(34, 60, 80, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% 50% 0 50%;
    
    
}

button :hover{
     width:250px;
    height: 200px;
    background-color: rgb(165, 18, 18);
    border-radius: 30px;
    -webkit-box-shadow: 14px 18px 11px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 14px 18px 11px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 14px 18px 11px 5px rgba(34, 60, 80, 0.2);
    display: flex;
        transition: 1s;
}

a {
    color: rgb(236, 236, 236);
    bottom: unset;
    text-align: center;
    font-size: 30px;
}